/*Including padding and border in the total width and height of the elements.*/
* {
	box-sizing: border-box;
}

/*Adding space between nav bar and container*/
.container {
	margin-top: 25px;
}

/*Adding styling to columns within container*/
.col {
	background-color: white;
}

/*Google fonts and styling for header, paragraph, list & label elements*/
h1 {
	font-size: 100px;
	text-align: center;
}

h2 {
	font-size: 55px;
	text-align: center;
}

p {
	font-size: 25px;
	margin-bottom: 10px;
}

li {
	font-size: 25px;
}

label {
	font-size: 25px;
}

/*Adding space underneath submit button on form*/
form {
	padding-bottom: 15px;
}

/*Google fonts and styling for footer*/
footer {
	font-size: 16px;
	text-align: center;
	width: 100%;
}

.imgport {
	width: 45%;
	height: 35%;
}

.imgindex {
	width: 200px;
	height: 200px;
}

.contact-list{
	margin-top: 25px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Media Queries*/

/*Small devices (phone)*/
@media (min-width: 400px) {

	/*Formatting for image on index page*/
	.imgindex {
		float: left;
		padding-right: 10px;
	}
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

	/*Formatting to reduce container size for visible side margins*/
	.container {
		width: 55%;
	}
}